p{
  @apply text-white;
}

footer{
  @apply bg-[#232F3F] flex flex-col justify-center pt-8 gap-12 ;
}
.footer-container{
  @apply flex flex-col xl:gap-12 lg:gap-8 lg:px-24 md:px-48;
}
.text-grey-color{
  @apply text-[#B2B2B2];
}
.copyright{
  @apply py-4 px-44 bg-[#00000040];
}
.image-card{
  width: 80px;
  height: 50px;
  border-radius: 5px;

}
